@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --red: #C51212;
  --blue: #0d2c49;
  --purple: #5800ca;
  --yellow: #ffc12b;
}

body, button, a {
  color: var(--text);
  font: 400 1rem 'Cinzel Decorative', sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}